<table style="float: left;">
<tr>
<th>Menu</th></tr>
<tr><td>
<div style="float: center; width: 75px;">

<div style="float: left;">
<%= link_to "Add student", {:action => "create_user", controller => "instructor" }%></div></br>
<div style="width: 100px">
<%= link_to "Show students", {:action => "show_students", controller => "instructor"} %></div>
<%= link_to "Log out", logout_path, method: :delete %></div>


</td></tr></table>



<table style="float: left; margin-left: -23px;">
<tr>
<th>Change password</th></tr>
<tr><td>
<div style="min-height: 45px;">
<div style="float: center; width: 75px;">
<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= f.label :username %>
	  <%= f.text_field :username, class: 'form-control' %>
	  <%= f.label :password %>
	  <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>