<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px">
				<%= link_to "Add student", {:action => "create_user", controller => "instructor" }%></br>
				<%= link_to "Disable students", {:action => "disable_students", controller => "instructor"} %></br>
				<%= link_to "Show students", {:action => "show_students", controller => "instructor"} %></br>
				<%= link_to "List Disabled students", {:action => "disabled_studs", controller => "instructor"} %></br>
				<%= link_to "Add task", {:action => "select_students", controller => "instructor"} %></br>
				<%= link_to "Review student progress", {:action => "select_progress", controller => "instructor"} %></br>
				<%= link_to "Show Requests", {:action => "show_requests", controller => "instructor"} %></br>
				<%= link_to "Waiting students", {:action => "wait_students", controller => "instructor"} %></br>
				<%= link_to "Log out", logout_path, method: :delete %></br>
				<%= link_to "Reset Password", {:action => "reset", controller => "users"} %>
			</div>
		</td>
	</tr>
</table>

<table style="float: left; margin-left: -23px;">
	<tr><th>Add a task for the student</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; max-height: 150px;">
				<%= form_for(@task) do |f| %>
				<b>Student Pilot:</b> <%= @student.name %></br></br>
				<b>Solo Endoresment:</b></br>
				<div style="float: left; width: 150px;">
					Model
					<%= f.text_field :end_model %>
					Date
					<%= f.text_field :end_date %>
					Instructor:
					<%= @inst.name %>
				</div>
			</div>		
		</td>
	</tr>
</table>
<table style="position: absolute; margin-top: 240px; min-width: 497px;">
	<td>
		<div>
			<div style="width: 100px; float: left; margin-left: 5px;">
				Flight lesson
				<%= f.number_field :flnumber %>
				Date
				<%= f.text_field :fldate %>
				Day Landings
				<%= f.number_field :day, :class => 'text_field', :step => 0.1 %>
			</div>
			<div style="width: 125px; float: left;  margin-left: 25px;">
				Helicopter N number
				<%= f.text_field :hnumber %>
				Helicopter (sim) type
				<%= f.text_field :htype %>
				Night Landings
				<%= f.number_field :night, :class => 'text_field', :step => 0.1 %>
			</div>
			<div style="width: 75px; float: left;  margin-left: 25px;">
				Dual Flight
				<%= f.number_field :dualflight, :class => 'text_field', :step => 0.1 %>
				Solo Flight
				<%= f.number_field :soloflight, :class => 'text_field', :step => 0.1 %>
				X/C Planning
				<%= f.number_field :xcplan, :class => 'text_field', :step => 0.1 %>
			</div>
			<div style="width: 55px; float: left;  margin-left: 25px;">
				Dual X/C
				<%= f.number_field :dualxc, :class => 'text_field', :step => 0.1 %>
				Solo X/C
				<%= f.number_field :soloxc, :class => 'text_field', :step => 0.1 %>
			</div>
			<%= f.hidden_field :spid, :value => @student.id %>
			<%= f.hidden_field :role, :value => @inst.id %>
			<div style="width: 400px; float: right;">
				<div style="width: 100px; float: right;">
					<%= f.submit "Add Task" %>
				</div>
			</div>	
			<% end %>
		</div>
	</td>
</table>