
<table style="float: left; min-width: 300px;">
	<tr><th>View Instructor</th>
	</tr>
	<tr>
		<td>
			<div style="min-width: 300px; float: left;">
				Username:
				<%= @user.username %></br>
				Name:
				<%= @user.name %></br>
				Phone:
				<%= @user.phone  %></br>
				email:
				<%= @user.email  %></br>
				</br>
				
				Address:
				<%= @user.line1 %></br>
				City:
				<%= @user.city %></br>
				State:
				<%= @user.state  %></br>
				Zipcode:
				<%= @user.zip  %></br>
				</br>
				Emergency Person:
				<%= @user.eperson  %></br>
				Emergency Phone:
				<%= @user.ephone  %></br>
				</br>

				Certificate Number:
				<%= @user.cert_num %></br>
				Cert Issued Date:
				<%= @user.cert_issue %></br>
				Cert Expire Date:
				<%= @user.cert_exp %></br>
				Flight Hours:
				<%= @user.fhours %></br>
				Instruction Hours:
				<%= @user.ihours %></br>
				</br>
				Last Flight Check:
				<%= @user.latflightcheck %></br>
				Start Date:
				<%= @user.startdate %></br>
				Last Day of Work:
				<%= @user.enddate %></br>
				</br>
				<b>Flown:</b>
				CFI:
				<%= @user.cfii%></br>
				CFII:
				<%= @user.cfi%></br>
				R44:
				<%= @user.r44%></br>
				R22:
				<%= @user.r22%></br>
				Enstrom:
				<%= @user.enstrom%></br>
				</br>
				<b>Hours in helicopter:</b></br>
				R44:
				<%= @user.r44hours %></br>
				R22:
				<%= @user.r22hours %></br>
				Enstrom:
				<%= @user.ensthours %></br>
				</br>
			</div>
			<div>
				<% if current_user.role == 'schooladmin' %>
					<%= link_to 'Edit', '/instructor/'+@user.id.to_s+'/edit' %>
				<% end %>
				<%= link_to 'Back', '/' %>
			</div>
		</td>
	</tr>
</table>
  
  