<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px; height: 105px;">
			</div>
		</td>
	</tr>
</table>
<table style="float: left; margin-left: -23px; ">
	<tr>
		<th>View Request</th>
	</tr>
	<tr>
		<td >
			<div style="min-height: 105px;">
			Student Name:
				<%= @student.name %></br>
			Student Username:
			<%= @student.username %></br>
			Instructor:
			<%= @inst.name %>
			</div
		</td>
	</tr>
</table>
<table style="position: absolute; margin-top: 190px; min-width: 497px;">
	<td>
			Date:
			<%= @request.date %></br>
			Time:
			<%= @request.time %></br>
			Lesson Type:
			<%= @request.task_type %></br></br>
			
				<%= link_to 'Back', '/instructor/show_requests' %>
	</td>
</table