<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px">
				<%= link_to "View Progress", {:action => "show_progress", controller => "student"} %></br>
				<%= link_to "View Total Time", {:action => "time", controller => "student"} %></br>
				<%= link_to "Schedule a Meeting", {:action => "create_meeting", controller => "student"} %></br>
				<%= link_to "Schedule a Task", {:action => "create_request", controller => "student"} %></br>
				<%= link_to "View Tasks", {:action => "show_tasks", controller => "student"} %></br>
				<%= link_to "Log out", logout_path, method: :delete %></br>
				<%= link_to "Reset Password", {:action => "reset", controller => "users"} %>
			</div>
		</td>
	</tr>
</table>

<table style="float: left; margin-left: -23px;">
	<tr>
		<th><%= @student.name %>'s Progress Review</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; min-height: 105px;">
				<b>Student Pilot:</b> <%= @student.name %></br></br>
				<b>Solo Endoresment:</b></br>
				<div style="float: left; width: 150px;">
					Model:
					<!-- @task.end_model  %></br> -->
					Date:
					<!-- @task.end_date %></br>-->
					Instructor:
					<%= @inst.name %>
				</div>
			</div>
		</td>
	</tr>
</table>
<table style="position: absolute; margin-top: 230px; width: 1050px;">
	<tr>
			<th style="width:100px">Flight Lesson:</th>
			<th>Date:</th>
			<th>Helicopeter N Number:</th>
			<th>Helicopter Type:</th>
			<th>Dual Flight:</th>
			<th>Solo Flight:</th>
			<th>Dual X/C:</th>
			<th>Solo X/C:</th>
			<th>Day Landings:</th>
			<th>Night Landings:</th>
			<th>X/C Planning:</th>
	</tr>
	
	
		<div>
			<div>
				<div style="float: left;">
					
					<% @tasks.each do |f| %>
					<tr><td style="width:100px">
						<%= f.flnumber %></td>
					<td>
						<%= f.fldate %></td>
					<td>
						<%= f.hnumber %></td>
					<td>
						<%= f.htype %></td>
					<td>
						<%= f.dualflight %></td>
					<td>
						<%= f.soloflight %></td>
					<td>
						<%= f.dualxc %></td>
					<td>
						<%= f.soloxc %></td>
					<td>
						<%= f.day %></td>
					<td>
						<%= f.night %></td>
					<td>
						<%= f.xcplan %></td></tr>
					<% end %>
				</div>
			</div>
		</div>
	
</table>