<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px">
				<%= link_to "View Progress", {:action => "show_progress", controller => "student"} %></br>
				<%= link_to "View Total Time", {:action => "time", controller => "student"} %></br>
				<%= link_to "Schedule a Meeting", {:action => "create_meeting", controller => "student"} %></br>
				<%= link_to "Schedule a Task", {:action => "create_request", controller => "student"} %></br>
				<%= link_to "View Tasks", {:action => "show_tasks", controller => "student"} %></br>
				<%= link_to "Log out", logout_path, method: :delete %></br>
				<%= link_to "Reset Password", {:action => "reset", controller => "users"} %>
			</div>
		</td>
	</tr>
</table>
<table style="float: left; margin-left: -23px; ">
	<tr>
		<th>Total Time</th>
	</tr>
	<tr>
		<td >
			<div style="min-height: 105px;">
			Student Name:
				<%= @student.name %></br>
			Student Username:
			<%= @student.username %>
			</div
		</td>
	</tr>
</table>
<table style="position: absolute; margin-top: 190px; min-width: 497px;">
	<td>
		<div>
			<div style="min-height: 150px;">
				<div syle="width: 200px;">
				Total Flight Hours:
				<%= @tasks.sum(:dualflight) + @tasks.sum(:soloflight) %><br>
				Total Ground Hours:
				<%=  %><br>
				Total Landings:
				<%= @tasks.sum(:day) + @tasks.sum(:night) %><br>
				Total X/C Hours:
				<%= @tasks.sum(:dualxc) + @tasks.sum(:soloxc) + @tasks.sum(:xcplan)%><br>
				X/C Planning Hours:
				<%= @tasks.sum(:xcplan) %><br>
				Total Dual Hours:
				<%= @tasks.sum(:dualflight) + @tasks.sum(:dualxc) %><br>
				Total Solo Hours:
				<%= @tasks.sum(:soloflight) + @tasks.sum(:soloxc) %><br>
				</div>
			</div>
		</div>
	</td>
</table