

<table style="float: left; margin-left: 267px;">
	<tr><th>Edit Instructor</th></tr>
	<tr>
		<td>
			<div style="max-height: 120px;"">
				<%= form_for(@user) do |f| %>
				
				<%= f.label :username %>
				<%= f.text_field :username, class: 'form-control' %>
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				<%= f.hidden_field :role, :value => 'instructor' %>
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
				</table>
				  
				</br>
				<table style="position: absolute; margin-top: 189px; min-width: 497px;">
					<td>
						<div>
							<%= form_for(@user) do |f| %>
								<div style="width: 200px; float: left;">
									<%= f.label :phone %>
									<%= f.text_field :phone, class: 'form-control' %>
									<%= f.label :email %>
									<%= f.text_field :email, class: 'form-control' %>
									Emergency Person
								    <%= f.text_field :eperson, class: 'form-control' %>
								    Emergency Phone
								    <%= f.text_field :ephone, class: 'form-control' %>
								</div>
								<div style="width: 200px; float: left; margin-left: 40px">
									<%= f.label :line1 %>
									<%= f.text_field :line1 %>
									<%= f.label :city %>
									<%= f.text_field :city %>
									<%= f.label :state %>
									<%= f.text_field :state %>
									<%= f.label :zip %>
									<%= f.text_field :zip %>
								</div>
								<div style="width: 125px; float: left;"">
									Certificate Number
									<%= f.text_field :cert_num %>
									Cert Issued Date
									<%= f.date_field :cert_issue %>
									Cert Expire Date
									<%= f.date_field :cert_exp %>
									Start Date
									<%= f.date_field :startdate %>
								</div>
								<div style="width: 125px; float: left; margin-left: 40px">
									Flight Hours
									<%= f.number_field :fhours, :class => 'text_field', :step => 0.1 %>
									Instruction Hours
									<%= f.number_field :ihours, :class => 'text_field', :step => 0.1 %>
									Last Flight Check
									<%= f.date_field :latflightcheck %>
									Last Day of Work
									<%= f.date_field :enddate %>
								</div></br>
								
								<div style="width: 100px; float: right;">
									<b>Flown:</b></br>
									<div style="width: 100px; float: left;">
										CFI
										<div style="float: right">
											<%= f.check_box :cfii%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										CFII
										<div style="float: right">
											<%= f.check_box :cfi%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										R44
										<div style="float: right">
									<%= f.check_box :r44%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										R22
										<div style="float: right">
											<%= f.check_box :r22%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										Enstrom
										<div style="float: right">
											<%= f.check_box :enstrom%>
										</div>
									</div>
								</div>
								<div style="width: 450px; float: left;">
									<b>Hours in helicopter:</b></br>
									<div style="width: 50px; float: left;">
										R44
										<%= f.number_field :r44hours, :class => 'text_field', :step => 0.1 %>
									</div>
									<div style="width: 50px; float: left; margin-left: 20px;">
										R22
										<%= f.number_field :r22hours, :class => 'text_field', :step => 0.1 %>
									</div>
									<div style="width: 50px; float: left;  margin-left: 20px;">
										Enstrom
										<%= f.number_field :ensthours, :class => 'text_field', :step => 0.1 %>
									</div>
								</div>
								
								
								
									
								<div style="width: 100px; float: left;">
									<%= f.submit "Save" %></div>
								<div style="width: 100px; float: left; margin-left: 10px;">
									<%= link_to 'Cancel', '/instructor/'+@user.id.to_s+'/view' %>
								</div>
								<% end %><% end %></td>
</div></tr></table>
  