<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px">
				<%= link_to "Add student", {:action => "create_user", controller => "instructor" }%></br>
				<%= link_to "Disable students", {:action => "disable_students", controller => "instructor"} %></br>
				<%= link_to "Show students", {:action => "show_students", controller => "instructor"} %></br>
				<%= link_to "List Disabled students", {:action => "disabled_studs", controller => "instructor"} %></br>
				<%= link_to "Add task", {:action => "select_students", controller => "instructor"} %></br>
				<%= link_to "Review student progress", {:action => "select_progress", controller => "instructor"} %></br>
				<%= link_to "Show Requests", {:action => "show_requests", controller => "instructor"} %></br>
				<%= link_to "Waiting students", {:action => "wait_students", controller => "instructor"} %></br>
				<%= link_to "Log out", logout_path, method: :delete %></br>
				<%= link_to "Reset Password", {:action => "reset", controller => "users"} %>
			</div>
		</td>
	</tr>
</table>
<table style="float: left; margin-left: -23px;">
<tr>
<th>Select Student for Task</th></tr>
<tr><td>
<div style="min-height: 150px;">
<div style="float: center; width: 75px;">

  <% @students.each do |s| %>
      <%= link_to s.username, '/instructor/'+s.id.to_s+'/create_task' %>
  <% end %>
</br>
</div></div>
</td></tr></table>