<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
 
      <div style="float: left; width: 150px;">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %></div>
	  <br><br><br><br><br><br>
	  <div style="float: left; width: 75px;">
      <%= f.submit 'Log in', class: 'btn btn-primary' %></div><br><br>
    <% end %>
  </div>
</div>
