

<table style="width: 500px; float: left;">
	<tr><th>School Information</th>
	</tr>
	<tr>
		<td>
			<div >
			
				<div>
					FAA School ID:
					<%= @school.faa_id %></br>
					Name:
					<%= @school.name %>
				</div></br>
				<div>
					Address:
					<%= @school.line1 %></br>
					City:
					<%= @school.city %></br>
					State:
					<%= @school.state %></br>
					Zipcode:
					<%= @school.zip %>
				</div></br>
				<div>  
					Phone:
					<%= @school.phone %></br>
					Email:
					<%= @school.email %></br>
					Website:
					<%= @school.website %></br>
					Years in Business:
					<%= @school.years %>
				</div></br>
					
				<div>
					<b>Training Part(s):</b></br>
					141:
					<%= @school.tp141 ? 'Yes' : 'No' %></br>
					61:
					<%= @school.tp61 ? 'Yes' : 'No' %>
				</div></br>
				<div>
					<b>Courses:</b></br>
					Helicopter Private Pilot:
					<%= @school.hpp ? 'Yes' : 'No' %></br>
					Helicopter Commercial Pilot:
					<%= @school.hcp ? 'Yes' : 'No' %></br>
					Helicopter Cert Flight Instr:
					<%= @school.hcfi ? 'Yes' : 'No' %></br>
					Airline Transport Pilot:
					<%= @school.atp ? 'Yes' : 'No' %></br>
					Helicopter Cert Flight Instr Instrument:
					<%= @school.hcfii ? 'Yes' : 'No' %>
				</div></br>
				<div>
					<b>Other Courses:</b></br>
					Helicopter Long Line/External Load Course:
					<%= @school.hll ? 'Yes' : 'No' %>
				</div></br>
				<div>	
					Admin:
					<%= @school.admin %></br>
					Cell:
					<%= @school.adminphone %></br>
					Emergency Person:
					<%= @school.eperson %></br>
					Emergency Phone:
					<%= @school.ephone %>
				</div></br>
				<div>
					<%= link_to "Edit", {:action => "edit", controller => "schools"} %>
					<%= link_to 'Back', '/siteadmin/show_schools' %>
				</div>
			</div>
			</td>
		</tr></table>