<table style="float: left; top-margin: 10px">
<tr>
<th>Menu</th></tr>
<tr><td>
<div style="float: center; width: 75px;">

<div style="float: left;">
<%= link_to "Add student", {:action => "create_user", controller => "instructor" }%></div></br>
<div style="width: 100px">
<%= link_to "Show students", {:action => "show_students", controller => "instructor"} %></div>
<div style="width: 100px">
<%= link_to "Disable students", {:action => "disable_students", controller => "instructor"} %></div>
<div style="width: 100px">
<%= link_to "Waiting students", {:action => "wait_students", controller => "instructor"} %></div>





<%= link_to "Log out", logout_path, method: :delete %></div>

</td></tr></table>

<table style="float: left; margin-left: -23px; max-height: 75px;">
<tr><th>Change Password</th></tr>
<tr>

<td>
  <div>
    <%= form_for(@user) do |f| %>
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	<input name="_method" type="hidden" value="patch" />

	<%= f.submit "Save new password", class: "btn btn-primary" %>.
	<% end %></td>
  </div></tr></table>