<table style="float: left; top-margin: 10px">
	<tr>
		<th>Menu</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; width: 175px">
				<%= link_to "Add Instructor", {:action => "create_user", controller => "schooladmin" }%></br>
				<%= link_to "List Instructors", {:action => "show_instructors", controller => "schooladmin"} %></br>
				<%= link_to "Disable Instructors", {:action => "disable_instructors", controller => "schooladmin"} %></br>
				<%= link_to "List Disabled Instructors", {:action => "disabled_insts", controller => "schooladmin"} %></br>
				<%= link_to "List Students", {:action => "show_students", controller => "schooladmin"} %></br>
				<%= link_to "List Disabled Students", {:action => "disabled_studs", controller => "schooladmin"} %></br>
				<%= link_to "Approve Students", {:action => "wait_students", controller => "schooladmin"} %></br>
				<%= link_to "Log out", logout_path, method: :delete %></div></br></br>
				<%= link_to "Reset Password", {:action => "reset", controller => "users"} %>
			</div>
		</td>
	</tr>
</table>

<table style="float: left; margin-left: -23px;">
	<tr><th>Add Instructor</th></tr>
	<tr>
		<td>
			<div>
				<%= form_for(@user) do |f| %>
				
				<%= f.label :username %>
				<%= f.text_field :username, class: 'form-control' %>
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				<%= f.hidden_field :role, :value => 'instructor' %>
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %></div>
				</table>
				  
				</br>
				<table style="position: absolute; margin-top: 200px; min-width: 497px;">
					<td>
						<div>
								<div style="width: 200px; float: left;">
									<%= f.label :phone %>
									<%= f.text_field :phone, class: 'form-control' %>
									<%= f.label :email %>
									<%= f.text_field :email, class: 'form-control' %>
									Emergency Person
								    <%= f.text_field :eperson, class: 'form-control' %>
								    Emergency Phone
								    <%= f.text_field :ephone, class: 'form-control' %>
								</div>
								<div style="width: 200px; float: left; margin-left: 40px">
									<%= f.label :line1 %>
									<%= f.text_field :line1 %>
									<%= f.label :city %>
									<%= f.text_field :city %>
									<%= f.label :state %>
									<%= f.text_field :state %>
									<%= f.label :zip %>
									<%= f.text_field :zip %>
								</div>
								<div style="width: 125px; float: left;"">
									Certificate Number
									<%= f.text_field :cert_num %>
									Cert Issued Date
									<%= f.date_field :cert_issue %>
									Cert Expire Date
									<%= f.date_field :cert_exp %>
									Start Date
									<%= f.date_field :startdate %>
								</div>
								<div style="width: 125px; float: left; margin-left: 40px">
									Flight Hours
									<%= f.number_field :fhours, :class => 'text_field', :step => 0.1 %>
									Instruction Hours
									<%= f.number_field :ihours, :class => 'text_field', :step => 0.1 %>
									Last Flight Check
									<%= f.date_field :latflightcheck %>
									Last Day of Work
									<%= f.date_field :enddate %>
								</div></br>
								
								<div style="width: 100px; float: right;">
									
									<div style="width: 100px; float: left;">
										CFI
										<div style="float: right">
											<%= f.check_box :cfii%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										CFII
										<div style="float: right">
											<%= f.check_box :cfi%>
										</div>
									</div>
									<b>Flown:</b></br>
									<div style="width: 100px; float: left;">
										R44
										<div style="float: right">
											<%= f.check_box :r44%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										R22
										<div style="float: right">
											<%= f.check_box :r22%>
										</div>
									</div>
									<div style="width: 100px; float: left;">
										Enstrom
										<div style="float: right">
											<%= f.check_box :enstrom%>
										</div>
									</div>
								</div>
								<div style="width: 450px; float: left;">
									<b>Hours in helicopter:</b></br>
									<div style="width: 50px; float: left;">
										R44
										<%= f.number_field :r44hours, :class => 'text_field', :step => 0.1 %>
									</div>
									<div style="width: 50px; float: left; margin-left: 20px;">
										R22
										<%= f.number_field :r22hours, :class => 'text_field', :step => 0.1 %>
									</div>
									<div style="width: 50px; float: left;  margin-left: 20px;">
										Enstrom
										<%= f.number_field :ensthours, :class => 'text_field', :step => 0.1 %>
									</div>
								</div>
								<%= f.hidden_field :schoolid, :value => current_user.schoolid %>
								
								<div style="width: 100px; float: left;">
									<%= f.submit "Create" %>
								</div>
						</div>		
					</td>
				</table>
				<% end %>
</div></tr></table>
  
  